.title
{
  font-family: 'Pacifico', cursive;
}

.secondaryText
{
  font-family: 'Ubuntu', sans-serif;
}

.navyText
{
  color: #00004f;
}

.navyBackground
{
  background-color: #00004f;
}

.mL30
{
  margin-left: 30%;
}

.mR30
{
  margin-right: 30%;
}

.mL20
{
  margin-left: 20%;
}
.mR20
{
  margin-right: 20%;
}

.mT10
{
  margin-top: 10%;
}

.mB10
{
  margin-bottom: 10%;
}
